body {
    font-family: 'Roboto', sans-serif;
}

.donate-button {
    text-decoration: none;
    background-color: rgb(231, 88, 88);
    padding: 15px 40px;
    border-radius: 6px;
    font-size: 20px;
    color: white;
}

.second-button {
    text-align: center;
    margin-top: 30px;
}

.first-page {
    background-image: url(image/donation13.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

}

.white-h1 {
    font-size: 60px;
    color: white;
}

.about-them {
    text-align: center;
    padding-top: 10%;

}

.font-size-p {
    font-size: 18px;
    color: white;
}

.donate-h1 {
    font-size: 50px;

}

.donate-today {
    text-align: center;
    padding-top: 5px;

}

.box-border {

    display: flex;
    padding-left: 300px;
}

.box-border-1 {
    border: 1px solid lightgray;
    width: 100px;
    height: 70px;
    box-shadow: 10px 10px 5px #888;
    margin-right: 20px;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 700;


}

.box-border-2 {
    border: 1px solid red;
    width: 100px;
    height: 70px;
    box-shadow: 10px 10px 5px #888;
    margin-right: 20px;
    padding-top: 50px;
    padding-left: 20px;
    color: red;
    font-weight: 700;

}

.amount {
    text-align: center;
    margin-top: 5%;
    background-color: transparent;
    border: 0px solid;
}

.amount-taka {
    color: lightgray;
    text-align: center;
    border-bottom: 2px solid lightgray;

}

.donate-plan {
    display: block;
    text-align: center;
    margin-top: 60px;
    font-size: x-large;
}

p {
    color: gray;
}

.donation-div {
    display: flex
}

.donate-site {
    width: 30%;
    margin-left: 3%;
    box-shadow: 15px 10px 5px grey;
    padding-left: 10px;

}

.different-bg1 {
    background-color: cornsilk;
}

.different-bg2 {
    background-color: lightsalmon;
}

.different-bg3 {
    background-color: lightyellow;

}

.extra {
    display: flex;


}

.half-width {
    width: 50%;
    padding: 5%;
    font-size: x-large;
    text-align: center;
}

.half-width image {
    width: 100%;
}

.footer-style {
    font-style: oblique;
    color: white;
    text-align: center;
}

.footer-color {
    color: red;
}

.footer-bg {
    background-color: darkblue;
}